/*
** Bootstrap over-rides
*/
body {
	font-family: 'Roboto', sans-serif;
    color: #0c0c0c;
	line-height: 1.5;
}
h1 {
	font-size: 30px;
}
img {
    vertical-align: middle;
    max-width: 100%;
}
a,.btn-link{color:#0c0c0c;}
a:hover,.btn-link:hover{color:#133058;text-decoration:none;}
.titles {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
}
.subcategories {
    border-bottom: 1px solid #ececec;
    padding: 0 0 30px;
}
.subcategories > ul > li > a {
    color: #0c0c0c;
    text-decoration: none;
    display: block;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.subcategories > ul > li > a:hover {
    opacity: 0.8;
}
.subcategories > ul > li span.name {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.category-actions {
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid #ececec;
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
        max-width:100%;
    }
}
.form-control {
    color: #000;
    font-size: 12px;
    height: 36px;
    padding: 7px 12px;
}
.form-control.search-text {
     border-color: #ececec;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    font-size: 13px;
    padding: 8px 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-default {
    border: 2px solid #133058;
    background-color: #133058;
    color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:hover:focus,
.btn-default.focus {
    color: #000;
    background-color: #fff;
    border-color: #133058;
}
.btn-default.btn-inverse,
.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-default.btn-inverse:hover,
.btn-primary:hover {
	color: #fff;
    background-color: #000;
    border-color: #000;
    opacity: 0.8;
}
.navbar-wrapper {
    background: #1363a0;
    transition:all 0.3s ease;
}
.navbar-wrapper.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    padding: 0px 0;
}
.navbar.navbar-inverse {
    margin-bottom: 0;
    border: none;
    background-color: #1363a0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
	font-weight: 400;
	letter-spacing: 0.045em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    min-height: 50px;
    font-family: 'Roboto Condensed';
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 10px;
	background: transparent !important;
}
.navbar-inverse .navbar-nav > li > a:before {
    content: none;
    background: #333;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    transition:all 0.3s ease;
	height: 0px;
}
.navbar-inverse .navbar-nav > li:hover{
    background:#1363a0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    /*color: #eee;
    background-color: rgba(255,255,255,0.2);*/
}
.navbar-nav > li.dropdown:hover > .dropdown-menu.is-drop, 
.navbar-inverse .navbar-nav > li.dropdown:hover .dropdown-menu{
    margin-top: 0;
    opacity: 1;
    visibility: visible;
	display:block;
}
.navbar-nav > li > .dropdown-menu{
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    border: none;
    min-width: 180px;
    padding: 10px;
    margin-top: 0px;
    display:none;
        opacity: 1;
    visibility: visible;
}
.dropdown-menu > li > a {
    font-size: 14px;
    padding: 3px 10px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    position:relative;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    text-decoration: none;
    color: #1363a0;
    background-color: transparent;
    padding-left: 20px;
}
.dropdown-menu > li > a::before {
    position: absolute;
    top: 50%;
    left: 0;
    visibility: hidden;
    width: 12px;
    height: 1px;
    content: '';
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    opacity: 0;
    background-color: #000;
    filter: alpha(opacity=0);
}
.dropdown-menu > li:hover > a::before {
    visibility: visible;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-nav > li.dropdown > a:after {
    content: "\f107";
    font-family: "fontello";
    font-size: 18px;
    line-height: 1;
    margin-left: 5px;
}
.navbar-header{
    display: none;
}
.useraccount i.fa.fa-sign-in {
    display: none;
}
@media (max-width: 1023px) {
  .navbar-header {
      float: none;
      display:block;
  }
  .navbar-header >span {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle,
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      display: block;
      border: 0px solid #fff !important;
      margin-right: 0;
      background: transparent;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      padding-bottom: 10px;
      width: 100%;
  }
  ul.navbar-nav>li {
      float: none;
      display: block;
      text-align: left;
  }
  .navbar-inverse .navbar-nav > li > a:before{
      top: -5px;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}
/*
** Template code
*/
.homeCarousel .slides img{
    width: 100%;
}
.logo {
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-top: 5px;
}
.logo img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.top-nav {
    background: #1363a0;
}
.top-nav ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.top-nav ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.top-nav ul li:after {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: -1px;
    top: 4px;
}
.top-nav ul li:last-child:after {
    content: none;    
}
.top-nav ul li a {
    color: #fff;
    border-bottom: 1px solid transparent;
}
.top-nav ul li a:hover{
    text-decoration:none;
    border-bottom: 1px solid ;
}
.top-nav .col-sm-8.col-md-7 {
    padding-right: 0;
}
.HeaderSectionRight {
    padding: 0;
}
.shippingtext {
    color: #fff;
    line-height: 30px;
    font-size: 13px;
    font-style: normal;
    text-align: right;
}
.shippingtext i.fa {
    color: #fff;
    font-size: 21px;
    vertical-align: top;
    margin-right: 3px;
    line-height: 30px;
}
.site-header {
    padding: 20px 0;
}
h3.store-name {
    font-size: 25px;
    margin: 0px 0 0;
    text-transform: uppercase;
}
h4.store-slogan {
    margin: 3px 0 0;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
}
.helpline {
    display: block;
    font-size: 12px;
    text-align: center;
}
.helpline span:first-child {
    font-weight: bold;
    font-family: 'Roboto Condensed';
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 5px;
    color: #1363a0;
}
.helpline span.divide {
    display: inline-block;
    margin: 0 3px;
}
.helpline a {
    font-size: 15px;
    letter-spacing: 0;
    color: #1363a0;
}
.searchBox {
    padding: 5px 0;
}
.search-form {
    position: relative;
}
.search-form .search-text {
    padding: 9px 62px 9px 12px;
    height: 40px;
    border: 2px solid #0c0c0c;
	color: #0c0c0c;
	font-weight: bold;
}
.search-form .search-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0c0c0c;
}
.search-form .search-text::-moz-placeholder { /* Firefox 19+ */
  color: #0c0c0c;
}
.search-form .search-text:-ms-input-placeholder { /* IE 10+ */
  color: #0c0c0c;
}
.search-form .search-text:-moz-placeholder { /* Firefox 18- */
  color: #0c0c0c;
}
.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    color: #0c0c0c;
}
.search-form .search-submit:hover{
    background-color:#0c0c0c;
    border-color:#0c0c0c;
    color: #fff;
    opacity: 1;
}
.HeaderRight {
    margin-top: 22px;
    font-family: 'Roboto Condensed'; 
}
.minicart {    
    float: right;
    padding: 0px 0 0px 15px;
}
.minicart-inner {
    display: block;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.minicart-inner:hover .cart-title{
    color: #000;
    border-bottom:1px solid;
}
.minicart .cart-icon {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    float: left;
    margin-right: 5px;
    color: #1363a0;
}
.minicart .cart-details {
    display: block;
    float: left;
    color: #000;
}

span.cart-title {
    font-size: 13px;
    line-height: 15px;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
span.cart-count {
    font-size: 12px;
    display: block;
}
.useraccount {
    float: right;
    margin-top: 5px;
}
.useraccount i.fa {
    color:#1363a0;
    font-size: 18px;
    margin-right: 2px;
}
.useraccount a{
    color: #000;
    font-size: 14px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    border-bottom: 1px solid transparent;
}
.useraccount a:hover{
    border-bottom: 1px solid;
}
.site-footer {
    background-color: #000;
    padding:50px 0 10px;
    color: #fff;
    clear: both;
}
.site-footer h4{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
}
.site-footer ul{
    padding: 0;
    list-style: none;
}
.site-footer li a{
    line-height: 17px;
    margin-bottom: 2px;
    color: #ccc;
    display: inline-block;
    font-size: 12px;
    border-bottom:1px solid transparent;
}
.site-footer li a:hover{
    border-bottom:1px solid;
    color:#fff;
}
ul.extrapages li {
    line-height: 1;
    margin: 0 0 15px;
}
ul.extrapages li a {
    color: #ccc;
    font-size: 16px;
}
.footer-social {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}
.copyright {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #ccc;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}
.copyright a{
	color: #ccc;
}
.FooterLogo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 0 30px;
    padding: 0 0 30px;
}
.FooterLogo img{
    max-height:70px;
}
.storeInfo {
    max-width: 85%;
}
.storeInfo p{font-size: 12px;}
.go-top,.go-top:hover{
    position: fixed;
    z-index: 999;
    top: 54%;
    right: 50px;
    display: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border: 1px solid #1363a0;
    background: #1363a0;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    border-radius: 50%;
}
#bottom-newsletter {
    background: #1363a0;
}
.checkout-1 .footer-social ul{
	text-align: left;
}
.newsletter-bg {
    padding: 25px 0px;
    color: #fff;
}
.mailist-box {
    width: 100%;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
.mailist-box h4,
#bottom-newsletter .social-icons-label{
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.mailist-box h3 {
    margin: 0 0 15px;
    /*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.mailinglist-input.form-control {
        background-color: transparent;
    border: none;
    width: 75%;
    color: #fff;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
.mailinglist-input.form-control::placeholder{
    color: #fff;
}
.mailinglist-submit,.mailinglist-submit:hover {
    background-color: #0c0c0c;
    color: #fff;
    border: none !important;
    float: none;
    width: 21%;
    display: inline-block;
    vertical-align: middle;
    height: 37px;
    border-bottom: 1px solid #fff !important;
    box-shadow: none;
}
.mailinglist-response {
    display: none;
}
.maillist-options {
    margin: 15px 0 0;
    display: none;
}
.subscribe {
    float: left;
    margin-right: 20px;
    line-height: 13px;
}
.subscribe input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}
.subscribe label {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    margin-left: 3px;
    color: #ccc;
    cursor: pointer;
}
.footer-social ul {
    margin: 0;
        text-align: right;
    padding-top: 15px;
}
ul.payment-icons li {
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 0;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.8);
}
ul.payment-icons li:hover{
    color:#fff;
}
ul.payment-icons li span:before {
    margin: 0;
    vertical-align: middle;
}
ul.payment-icons li.payment-icons-label,
ul.social-icons li.social-icons-label {
    font-size: 18px;
    vertical-align: middle;
    /*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
}
.social-icons {
    text-align: right;
    margin-bottom: 0;
}
.social-icons li a {
    color: #fff;
    background-color: #0c0c0c;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
}
.social-icons a.facebook:hover {
    background-color: #4a73bd;
}
.social-icons a.twitter:hover {
    background-color: #46b0e2;
}
.social-icons a.gplus:hover {
    background-color: #ea3b02;
}
.social-icons a.youtube:hover {
    background-color: #cf3427;
}
.social-icons a.pinterest:hover {
    background-color: #cc2127;
}
.social-icons a.instagram:hover {
    background-color: #964b00;
}
.social-icons a.tumblr:hover {
    background-color: #33465d;
}
.social-icons a.blog:hover {
    background-color: #f9bc2e;
}
.social-icons a.rss:hover {
    background-color: #f9bc2e;
}

/*.product-item .reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.product-item .reviews-stars {
    color: #000;
}*/

.reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.reviews-stars {
    color: #1363a0;
}
.product-item .img{
    margin-bottom: 25px;
}
.product-item .name::before {
    content: "";
    background: #191919;
    width: 30px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
}
.product-item .name{
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    position: relative;
    padding-top: 15px;
    height: 55px;
}
.product-item .name a {
    color: #1363a0;
    font-size: 16px;
}
.product-item del.regular-price {
    text-decoration: line-through;
        margin-right: 5px;
}
.sale-price {
    color: #ac0404;
}
del.original-price {
    font-weight: 500;
}
span.freeshipping {
    color: #ff0000;
}
.product-item .status span:before {
    content: "-";
}
.product-item .status {
    font-size: 12px;
    display: none;
}
.product-item .price {
    font-size: 17px;
    font-weight: bold;
    padding-left: 30px;
}
.product-item .reviews{
    padding-left: 30px;
}
.product-item .img {
    min-height: 304px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
}
#home .product-item .img {
    border: 1px solid #fff;
}
.product-item .img a {
    display: block;
}
.product-item .img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	max-height: 100%;
	max-width: 100%;
}
.product-item:hover .img .quickview {
    bottom: 0px;
    opacity:1;
}
.product-item .img .quickview {
    opacity: 1;
    top: auto;
    box-shadow: none;
    text-transform: uppercase;
    background: #133058;
    font-weight: bold;
    font-size: 12px;
    height: 38px;
    width: 100%;
    bottom: 0;
    transition: all 0.5s ease;
    color: #fff;
    position: relative;
    border: 2px solid #133058;
}
.product-item .img .quickview:hover{
        color: #000;
    background-color: #fff;
    border-color: #133058;
}
.product-item .img:before{
    content:"";
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(255, 255, 255, 0.6);
    transform: scale(0);
    transition: all 0.6s ease;
    z-index: 1;
}
.product-item:hover .img:before{
    transform: scale(1);
}
.product-item .action .btn {
    min-width: 150px;
    margin-bottom: 10px;
}
.product-item .wrap-addto {
    min-width: 150px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
        margin-top: 20px;
    -webkit-transition: margin-top 0.4s ease;
    transition: margin-top 0.4s ease;
    opacity: 0;
    visibility: hidden;
}
.product-item:hover .wrap-addto {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.product-item .on-sale-badge{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #1363a0;
    color: #fff;
    font-size: 12px;
    padding: 3px 15px;
    line-height: 15px;
    font-weight: normal;
    text-transform: capitalize;
    z-index: 1;
}
.product-item .freeshipping {
    color: #fff;
    background: #000;
    padding: 1px 10px;
    position: absolute;
    left: 15px;
    top: 10px;
    font-family: 'Roboto Condensed';
    font-size: 12px;
    z-index: 1;
}
.head-mobile-nav > a {
    color: #000;
    font-size: 24px;
    line-height: 1;
}
.product-items .product-item{
    text-align: left;
    margin-bottom: 15px;
    position: relative;
}

#quickView .product-item .price,
#quickView .product-item .name{
    padding-left: 0;
}
/*
** Homepage
*/
.SaleBanners .row {
    margin: 0 -5px 30px;
}
.SaleBanners .row >.col-sm-12 >div{
    padding:0 5px;
}
.salebanner {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
.SaleBanners a {
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.image-content::before {
    content: "";
    background: #fff;
    position: absolute;
    width: 45px;
    height: 1px;
    top: -22px;
    left: -30px;
}
.image-content {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 30px;
    text-transform: uppercase;
    text-align: left;
    transform:translatey(-50%);
}
.image-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}
.image-content p {
    margin: 30px 0 0;
    color: #fff;
    font-size: 14px;
    text-align: left;
}
.image-content1{
	top: 80%;
}
.SaleBanners p a {
    text-align: left;
    color: #fff;
}
.SaleBanners .salebanner:before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    bottom: 10px;
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    right: 50%;
    opacity: 0;
    z-index: 11;
    pointer-events: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.SaleBanners .salebanner:hover:before {
    left: 10px;
    right: 10px;
    opacity: 1;
}
.SaleBanners .salebanner:after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    right: 10px;
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 50%;
    opacity: 0;
    z-index: 11;
    pointer-events: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.SaleBanners .salebanner:hover:after {
    top: 10px;
    bottom: 10px;
    opacity: 1;
}
.SaleBanners a:before {
    background: #1363a0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}
.SaleBanners a:hover:before {
    opacity: 0.35;
}
.SaleBanners a img {
    transition: all 2s;
    backface-visibility: hidden;
    position: relative;
    width: 100%;
}
.SaleBanners a:hover img,
.ex-img:hover img {
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
}
.ex-img{
    overflow: hidden;
}
.ex-img img{
    transition: all 2s;
}
.ex-txt .image-content {
    position: relative;
    top: 85px;
    transform: none;
    left: 15px;
}
.ex-txt .image-content:before{
    background:#333;
    width: 30px;
}
.ex-txt .image-content h4{
    color: #333;
}
.ex-right .image-content::before{
    left:auto;
    right:0px;
}
.home-page-content .ex-right .image-content p{
    text-align: right;
}
.ex-right .image-content {
    text-align: right;
    padding-right: 30px;
    left: 0;
    margin-right: -15px;
}
.home-page-content .ex-txt .image-content h3{
    color:#333;
    font-size: 45px;
    font-weight: 500;
}
.ex-big .image-content {
    position: absolute;
    left: 45px;
    top: 63%;
}
.ex-big .ex-txt .image-content h4,
.ex-big .ex-txt .image-content h3,
.ex-big .ex-txt .image-content p a{
	color: #ccc;
}
.home-page .category-header2 {    
    margin: 0;
    padding: 25px 0 0;
}
.CategoryBlocks {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
h3.bTitle:before {
    left: -75px;
}
h3.bTitle:after {
    right: -75px;
}
h3.bTitle:before,h3.bTitle:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background: #000;
    top: 48%;
}
.home-page-content .category-footer2 h3.bTitle,h3.bTitle {
    font-family: 'Alegreya';
    letter-spacing: 1px;
    font-size: 28px;
    display: inline-block;
    position: relative;
    color: #1363a0;
    text-transform: uppercase;
}
.products-section h3.bTitle,
.category-footer2 .bTitle{
    margin-bottom: 30px !important;
}
.CategoryRow {
    float: left;
    width: 100%;
    margin: 15px 0 0;
    padding-bottom: 0;
}
.CategoryRow > div {
    float: left;
    width: 20%;
    padding: 0 7px 15px;
}
.CategoryRow > div a {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    z-index: 1;
    border-bottom: 3px solid #133058;
}
.CategoryRow > div a:before {
    background: rgba(29, 99, 158, 0.7) url(../images/iconplus.png) no-repeat center center;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5) rotateY(180deg);
    -moz-transform: scale(0.5) rotateY(180deg);
    -webkit-transform: scale(0.5) rotateY(180deg);
    -ms-transform: scale(0.5) rotateY(180deg);
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
    z-index: 9;
}
.CategoryRow > div a:hover:before {
    transform: scale(1) rotateY(0deg);
    -moz-transform: scale(1) rotateY(0deg);
    -webkit-transform: scale(1) rotateY(0deg);
    -ms-transform: scale(1) rotateY(0deg);
    visibility: visible;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}
.CategoryRow > div img {
    width: 100%;
}
.Brands{
    margin-bottom: 0px;
	margin-top: 25px;
}
.Brands li a {
    display: block;
    text-align: center;
    opacity: 1;
}
.Brands li img {
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
    backface-visibility: hidden;
    position: relative;
}
.Brands a:hover img {
    transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
}
.BrandScroller {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    position: relative;
}
.BrandScroller .owl-item {
    float: left;
}
.Brands .owl-prev.disabled,
.Brands .owl-next.disabled{
    opacity:0.6;
}
.Brands .owl-prev,
.Brands .owl-next {
    left: 0;
    font-size: 20px;
    top: 50%;
    margin: -13px 0 0;
    height: 28px;
    width: 15px;
    color: #0c0c0c;
    position: absolute;
    cursor: pointer;
}
.Brands div.owl-next{
    right:0;
    left:auto;
}
.products-section {
    background-color: #fafafa;
    padding: 30px 0;
}
.products-section h2 {
    margin: 0;
    font-size: 24px;
}
.products-section h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 0 25px;
    border-bottom: 1px solid #ececec;
    position: relative;
}
.products-section h2:after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #000;
    display: block;
    position: absolute;
    bottom: -1px;
    z-index: 10;
}
.home-page-content {
	padding-top: 0;
}
.home-page-content .category-footer2 {
    padding: 40px 0 20px;
    clear: both;
}
.home-page-content .category-footer2 h3 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 20px;
    font-weight: bold;
}
.home-page-content .category-footer2 p {
    margin: 0 0 30px;    
}
.home-page-content .category-footer2 a:hover img {
    opacity: 0.7;
}
.home-page-content .category-header2 img {
    margin: 0 auto;
}
.home-page-content .category-footer2.custombanner {
	background-image: url(../images/footer-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    padding: 8% 0;
    color: #fff;
	background-position: center;
    background-attachment: fixed;
}
.custombanner_block {
    padding: 7% 40px;
    position: relative;
}
.custombanner_block:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 1px;
    background: #fff;
    width: 100px;
}
.custombanner_block:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 1px;
    background: #fff;
    width: 100px;
}
.custombanner h4{
    font-size: 25px;
}
.custombanner h2{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
}
.custombanner p{
    font-size: 18px;
}
.custombanner .btn{
    background: #1363a0;
    font-weight: 400;
    font-size: 14px;
    padding: 18px 40px;
    margin-top: 20px;
    border: 2px solid #1363a0;
	color: #fff;
}
.custombanner .btn:hover{
    background: transparent;
}
#main-footer .col-1, #main-footer .col-2, #main-footer .col-3 {
    float: left;
    width: 20%;
    padding: 0 15px;
}
#main-footer .col-4 {
    float: left;
    width: 40%;
    padding: 0 15px;
}
.extrapages-shower a {
    display: block;
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none !important;
}
.extrapages-shower a:after {
    content: "\f106";
    font-family: "fontello";
    float: right;
}
.extrapages-shower a.collapsed:after {
    content: "\f107";
}
.homeCarousel .flex-control-nav{
    bottom: 15px;
    z-index: 99;
}
.homeCarousel .flex-control-nav li{
    margin: 0 4px;
}
.homeCarousel .flex-control-paging li a{
    width: 25px;
    height: 4px;
    background: rgba(19, 48, 88, 0.5);
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.homeCarousel .flex-control-paging li a.flex-active {    
    background: #133058;    
}
.homeCarousel .flex-direction-nav a:before,
.homeCarousel .flex-direction-nav a:after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #fff;
    vertical-align: middle;
    margin: 0 15px;
}
.flexslider .flex-direction-nav a:hover:before,
.flexslider .flex-direction-nav a:hover:after{
    background: #333;
}
.homeCarousel .flexslider .flex-direction-nav .flex-prev{
    left:0px;
}
.homeCarousel .flexslider .flex-direction-nav .flex-next {
    right: 0px;    
}
.homeCarousel .flexslider:hover .flex-direction-nav .flex-prev,
.homeCarousel .flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    left: 0;
    right:0;
}
.homeCarousel li.flex-nav-prev{
    left: -7%;
}
.homeCarousel li.flex-nav-next{
    right:-7%;
}
.homeCarousel li.flex-nav-prev,
.homeCarousel li.flex-nav-next {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 2;
}
.homeCarousel .flex-direction-nav a:hover{
    color: #333;
}
.homeCarousel .flex-direction-nav a{
    width: auto;
    height: auto;
    margin: 0;
    text-align: center;
    line-height: 40px;
    text-shadow: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 0 20px;
    transform: rotate(-90deg);
    opacity: 1;
    position: relative;
    left: 0;
    right: 0;
    top: 0; 
}
.homeCarousel .flex-direction-nav a {
    display: none;
}
@media(max-width: 1023px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        min-height: 0;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
    }
    .navbar-nav > li.dropdown > a:after {
        float: right;
    }
    .footer-social {
        text-align: center;
    }
    .navbar-nav > li.dropdown:after {
        content: "\f107";
        font-family: "fontello";
        font-size: 17px;
        line-height: 22px;
        position: absolute;
        top: 0px;
        right: 0;
        color: #fff;
        cursor: pointer;
        width: 55px;
        height: 100%;
        text-align: right;
        border-radius: 0;
        font-weight: bold;
    }
    .navbar-nav > li > ul.dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        float: left;
        width: 100%;
        top: 0px;
        background: transparent;
        box-shadow: none;
        padding: 10px 0 0 !important;
        max-height: none !important;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 10px;
        text-align: left;
    }
    .navbar-nav > li.dropdown.opendrop:after {
        content: "\f106";
    }
    .navbar-inverse .navbar-nav > li:hover{
        background: transparent;
    }
    .dropdown-menu > li > a{color:#fff;}
}
@media(max-width: 767px) { 
    .salebanner{display: inline-block;width: auto;}
    .SaleBanners a img{width: auto;}
    .ex-img{text-align: center;margin-bottom: 10px;}
    .ex-txt.ex-left {position: absolute;left: 0;top: 20px;z-index: 1;}
    .ex-txt.ex-right {position: absolute;right: 0;top: 20px;z-index: 1;}
    .mailist-box{text-align: center;}
    .mailinglist-form {margin: 0 auto;}
    /*.maillist-options{display: inline-block;}*/
    .product-cols >.col-xs-12.row {
        margin: 0;
    }
    .logo {
        text-align: center;
        height: auto;
    }
    .logo img {
        position: static;
        max-height: 50px;
    }
    .accountlinks, .accountlinks a{
        color:#fff;
    }
    .searchBox {
        padding: 2px 5px 5px;
    }
    .search-form-col {
        clear: both;
    }
    .homeCarousel .flex-direction-nav a:before {
        font-size: 24px;
    }
    .homeCarousel .flex-direction-nav a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: -12px 0 0;
    }    
    .social-icons li a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
    .footer-social ul li {
        padding: 0 4px;
    }
    .extrapages {
        display: none;
    }
    .home-page-content .category-header2 {
        padding: 15px 0;
    }
    .extrapages-shower a {
        display: block;
    }
    ul.extrapages {
        margin: 0;
        padding: 15px 0;
    }
    ul.extrapages li a {
        font-size: 14px;
    }
}
@media(max-width: 567px) {
    .product-items.product-items-1 .product-item,
    .product-items.product-items-2 .product-item,
    .product-items.product-items-3 .product-item,
    .product-items.product-items-4 .product-item,
    .product-items.product-items-5 .product-item,
    .product-items.product-items-6 .product-item {
        max-width: 100%;
    }
}
.quickpay.checkout-section {
    margin-bottom: 15px;
}
#checkout-logo .logo{
    height: 100px;
}
.menu-open {
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.menu-open .mobile-menu {
    overflow-x: hidden;
    overflow-y: auto;
}
.mobile-menu-inner {
    background-color: #133058;
    padding: 30px 0px 80px;
    width: 300px;
    margin-left: auto;
    margin-right: 0px;
    min-height: 100%;
    position: relative;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(300px,0);
    -ms-transform: translate(300px,0);
    -o-transform: translate(300px,0);
    transform: translate(300px,0);
    height: auto;
    overflow-y: scroll;
}
.menu-open .mobile-menu-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.mobile-menu-close a {
    color: #fff;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-decoration: none;
}
.mobile-menu-close {
    margin-bottom: 30px;
    display: block;
    padding: 0 20px;
}
.mobile-menu-close a:after {
    content: '\e805';
    font-family: "fontello";
}
.mobile-menu-widget {
    margin: 0px 0 0;
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.mobile-menu-widget h3 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 0;
    line-height: 1;
    border-bottom: 1px solid #1363a0;
    color: #fff;
    background: #1363a0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.mobile-menu-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu-widget ul li {
    margin: 0;
    float: left;
    width: 100%;
    padding: 15px 0px 14px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.mobile-menu-widget ul#categories >li >a{
    max-width: 55%;
}
.mobile-menu-widget ul li a {
    padding: 0 0 0 20px;
    line-height: 1;
    font-size: 13px;
    background-color: transparent !important;
    display: block;
    color: #fff;
    text-decoration: none !important;
}
.mobile-menu-widget ul li a:hover {
    color: #fff;
}   
.mobile-menu-widget ul li a:after {
    display: none;
}
.mobile-menu-widget ul li.dropdown.opendrop {
    padding-bottom: 0;
    border-bottom: none;
}
.mobile-menu-widget.last-widget {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #1363a0;    
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}
.mobile-menu-widget.last-widget span {
    display: block;
    padding: 8px 0 8px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    font-size: 17px;
    border-top: 1px dotted rgba(255, 255, 255, 0.5);
}
.mobile-menu-widget.last-widget a {
    color: #fff;
}
.account-links {
    padding: 8px 0;
    color: #fff;
}

.mailinglist-response {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #ccc;
}
.mailinglist-error span {
    color: #8a6d3b;
}
.mailinglist-subscribed span,
.mailinglist-unsubscribed span {
    color: #3c763d;
}
.mailinglist-response,
.mailinglist-response div {
}

.floating-cart {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1025;
    background-color: #1363a0;
    color: #fff;
    border-radius: 0;
    padding: 5px 10px 5px 5px;
    text-align: center;
    width: auto;
    display: none;
}
.floating-cart a,
.floating-cart a:hover {
    color: #ececec;
    text-decoration: none;
}
.floating-cart a:hover {
	opacity: 0.6;
}
.floating-cart span.cart-icon {
    display: block;
    font-size: 30px;
    line-height: 1;
}
.floating-cart span.cart-details {
    font-size: 12px;
    text-transform: none;
    display: block;
    margin: 5px 0 0;
}

.paging {
    float: right;
}
.paging strong, 
.paging a {}
.paging strong,
.paging a:hover {
    color: #fff;
    background-color: #0f0f0f;
    text-decoration: none;
}
aside#leftBar {
    display: none;
}
.cat-items-grid,
body.leftbar.rightbar .cat-items-grid{
	width: 100%;
}
@media (min-width: 1024px){
	.navbar-nav > li > .dropdown-menu,
	.dropdown-menu > li > a{
		transition: all 0.3s ease;
	}
}
@media (min-width: 568px){
    .product-item .on-sale-badge:before {
        content: "";
        display: inline-block;
        width: auto;
        height: calc(100% + 6px);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 6px solid #1363a0;
        position: absolute;
        right: -5px;
        top: -3px;
        z-index: -1;
    }
    .product-item .freeshipping:before{
        content: "";
        display: inline-block;
        width: auto;
        height: calc(100% + 6px);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-right: 6px solid #000;
        position: absolute;
        left: -5px;
        top: -3px;
        z-index: -1;
    }
}
@media (max-width:1199px){
    .image-content h3{font-size: 25px;}
    .mailist-box h4, #bottom-newsletter .social-icons-label{font-size: 14px;}
    .helpline{white-space: nowrap;}
    .top-nav .col-sm-7.col-md-7{
        padding-right: 0;
    }
    .navbar-nav {
        float: none;
        margin: 0;
        display: table;
        table-layout: fixed;
    }
    .navbar-nav > li {
        float: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .navbar-nav > li.dropdown > a:after{
        position: absolute;
    }
    .useraccount i.fa.fa-sign-in,
    .useraccount i.fa {
        display: inline-block;
        font-size: 27px;
        margin-left: 15px;
    }
    .useraccount {
        float: right;
        margin-top: 3px;        
        text-align: right;
        font-size: 0;
    }
    .useraccount a{
        font-size: 0;
    }
    .minicart {
        float: right;
        padding: 0px 0 0px 5px;          
    }
    .minicart .cart-icon{
        float: none;        
        margin: 0 auto;
        text-align: center;
    }
    .minicart span.cart-title,
    .minicart .cart-details{
        display:none;
    }
	.navbar-nav > li > .dropdown-menu,
	.navbar-nav > li.dropdown > a:after{
		display: none;
	}
	.image-content1 {
		top: 75%;
	}
	.ex-txt .image-content {
		top: 35px;
	}
	.ex-big .image-content {
		top: 52%;
	}
}
@media (max-width:991px){
    .homeCarousel .flex-direction-nav a:before, .homeCarousel .flex-direction-nav a:after{width: 30px;}
    .homeCarousel .flex-direction-nav a{font-size: 15px;}
    .ex-txt .image-content{top:30px;}
    .ex-big .image-content{top: 46%;}
    .ex-right .image-content p, .ex-left .image-content p{font-size: 12px;}
    .ex-right .image-content h4,.ex-left .image-content h4{font-size: 15px;}
    .ex-right .image-content h3,.ex-left .image-content h3{font-size: 25px !important;}
    .storeInfo {max-width: 100%;margin-bottom: 40px;}
    .site-footer{padding-top:30px;}
    .image-content h3{font-size: 20px;}
    .image-content p{margin: 10px 0 0;font-size: 12px;}
    .go-top{
        right: 20px;
        width: 40px;
        height: 40px;
        line-height: 35px;
        font-size: 20px;
    }
    .social-icons {
        text-align: center;
        clear: both;
        padding-top: 20px;
    }
    .mailist-box .col-md-7{padding: 0px;}
    .footer-social ul{text-align: left;padding-top: 0px;}
    .search-form .search-text{
        height:35px;
    }
    .product-cols h1{text-align:center;}
    #main-footer .col-1, #main-footer .col-2, #main-footer .col-3{
        width: 33.33%;
    }
    #main-footer .col-4{
        width:100%;
        margin-top: 20px;
    }
    .site-header {
        padding: 10px 0;
    }    
    .helpline span:first-child{
        display: block;
    }
    .top-nav ul{
        font-size: 10px;
        letter-spacing: 0px;
    }
    .top-nav ul li{
        margin-right: 7px;
        padding-right: 7px;
    }
    .logo h3.store-name {
        font-size: 22px;
        margin: 10px 0 0;        
    }
    .shippingtext{
        white-space: nowrap;
        font-size: 12px;
    }
    .navbar-inverse .navbar-nav > li > a,
    .navbar-nav > li > a {
        padding: 0 0 10px;
        font-size: 13px;
        letter-spacing: 0;
        margin: 0;
    }
    .CategoryRow > div{
        width: 33.33%;
    }
    .special-actions.text-center.row {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .special-actions .col-md-6 {
        padding-right: 15px;
        width: auto;
    }
    .special-action .btn-link{
        min-width: 180px;
    }
    .special-action{
        display: inline-block;
        margin: 0 0 5px;
        min-width: 180px;
    }
    span.special-action.create-review-link {
        margin-bottom: 10px;
    }
	.mailist-box {
		float: none;
	}
}
@media(max-width:1023px){
	.home-page-content .category-footer2 p br{
		display: none;
	}
}
@media (max-width:767px){
	.dropdown-menu > li:hover > a::before{content:none;}
    .navbar-nav > li > ul.dropdown-menu{padding: 0 0 15px!important; border-bottom:1px solid rgba(255, 255, 255, 0.3)}
    .content-holder {
        clear: both;
        padding-top: 146px;
    }
    .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    header.site-header {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 99;
        background: #fff;
    }
    .CategoryRow > div {
        width: 100%;
        padding: 0;
    }
    .home-page-content .category-footer2 .CategoryBlocks h3{
        margin: 0 0 30px;
    }
    .CategoryRow .owl-nav {
        position: absolute;
        top: -35px;
    }
    .CategoryRow .owl-prev, .CategoryRow .owl-next {
        display: inline-block;
        background: #133058;
        color: #fff;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 0 2px;
        font-size: 20px;
    }
    .owl-prev.disabled,.owl-next.disabled {
        opacity: 0.6;
    }
    .SaleBanners .row {
        margin-bottom: 0;
        margin-top: -5px;
    }
    .SaleBanners .col-sm-4,
    .SaleBanners .col-sm-8{
        margin: 5px 0px 10px;
    }
    .site-footer{padding: 10px 0 25px;}
    #main-footer .col-1, #main-footer .col-2,
    #main-footer .col-3{
        width:100%;
        margin-top:20px;
    }    
    .home-page .site-header {
        border-bottom: none;
        margin-bottom: 0px;
    }
    .site-header {
        padding: 0;
        background: transparent;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }
    .HeaderSectionRight {
        padding: 2px 0 0;
        clear: both;
        background: #fff;
    }
    .search-form-col {    
        padding: 0;
    }
    .search-form .search-text {    
        background: #fafafa;
        border: 1px solid #000;        
    }
	.home-page-content .category-footer2 {
		padding: 25px 0 0px;
		clear: both;
	}
    .search-form .search-submit{
        font-size: 14px;
        background: transparent;
        border: none;
        color: #333;
    }
    .logo{
        margin-top: 10px;
        padding-bottom: 12px;
    }
    .logo h3.store-name{
        margin: 0px 0 0;
    }
    .logo h3.store-name,
    .logo h4{
        color:#fff;
    }
    .navbar-nav{
        display:block;
    }
    .mobile-menu-widget ul li{
        display: block;
        text-align: left;
    }
    .shippingtext{
        text-align:center;
    }
    .head-mobile-nav > a{
        color: #1363a0;
        margin-top: 20px;
        display: block;
    }
    .helpline span:first-child {
        display: inline-block;
    }
    .go-top,.go-top:hover{
        right: 15px;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        line-height: 35px;
        font-size: 20px;
    }
    .homeCarousel .flex-direction-nav a{
        width: 30px;
        height: 30px;
        margin: -15px 0 0;
    }
    .homeCarousel .flex-direction-nav a:before{
        line-height: 25px;font-size: 25px;
    }
    .product-item .action{        
        top: 0;
        visibility: visible;    
        z-index: 1;
    }
    .homeCarousel .flex-control-nav{
        bottom: 0px;    
        line-height: normal;
    }
	.mobile-menu-widget ul li a:hover {
		color: #fff;
		opacity: .7;
	}
    .btn.btn-addcart i{display:inline-block;}
    .top-nav.fixed-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .site-header.fixed-mobheader {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 100;
        border-bottom: 1px solid #eee;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    }
    .fixed-mobheader .HeaderSectionRight{display:none;}
    .navbar-nav > li.dropdown:after {
        content: "\f107";
        font-family: "fontello";
        font-size: 17px;
        line-height: 43px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        position: absolute;
        top: 0px;
        right: 0;
        color: #fff;
        cursor: pointer;
        width: 55px;
        height: 100%;        
        border-radius: 0;
        font-weight: bold;
    }
    .navbar-nav > li.dropdown.opendrop:after{
        content: "\f106";
    }
    .navbar-nav > li > ul {
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        float: left;
        width: 100%;
        top: 0px;
        background: transparent;
        box-shadow: none;
        padding: 0 !important;
        max-height: none !important;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 15px;
        text-align: left;
        border-bottom: none;
    }
    .navbar-nav > li > .dropdown-menu,
    .navbar-nav > li:hover > .dropdown-menu.is-drop{
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 15px !important;
    }
    .mobile-menu-widget ul li li {
        border-bottom: none;
        padding-bottom: 0;
    }
	.home-page-content .ext-small .ex-txt .image-content h3,
	.home-page-content .ext-small .ex-txt .image-content h4,
	.home-page-content .ext-small .ex-txt .image-content p a{
		color: #fff;
	}
	.ex-big .image-content {
		top: 31%;
	}
	.product-item .name {
		height: auto;
	}
}
@media (max-width:480px){
    .custombanner_block:before,.custombanner_block:after{width: 50px;}
    .custombanner_block{padding: 7% 0px;}
    .btn.btn-addcart{
        padding: 8px 12px;
        display: block;
        clear: both;
        margin-top: 10px;
    }
    .helpline {
        white-space: normal;
    }
    .helpline span:first-child {
        display: block;
    }
    h3.bTitle:before{
        content:none;
    }
    h3.bTitle:after {
        content: "";
        position: relative;    
        top: auto;
        display: block;
        right: 0;
        margin: 5px auto 0;
    }
    .product-items.product-items-4 .product-item {
        width: 100%;
    }
}
@media(min-width:767px){
.mailinglist-response {
    margin-right: 32px;
}
}

/*SW Custom */
.product-items img{
opacity: 0;
}

figure.mz-figure {
    pointer-events: none;
}

.mz-hint-message {
    display: none;
}

.site-header, .site-header.fixed-mobheader{
position:relative !important;
top:0px !important;
}

.top-nav{
display:none;
}
