/*	
 * 3dcart Shopping Cart System - Version: 6
 * http://3dcart.com/
 * Date: Fri, Dec 19 2014
*/

/*body:: Controls website background and any other text outside of a table without an associated style.*/

.flex-direction-nav .flex-next {
  right: 30px !important;
}
.flex-direction-nav .flex-prev {
  left: 30px !important;
}
.flex-direction-nav a {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

body * {
  color: rgb(0, 72, 81);
}

@font-face {
  font-family: "ElegantLux";
  src: url("../fonts/elegantlux.svg") format("svg"),
    url("../fonts/elegantlux.woff") format("woff"),
    url("../fonts/elegantlux.ttf") format("truetype"),
    url("../fonts/elegantlux.otf") format("otf");
}

@font-face {
  font-family: "BigJohn";
  src: url("../fonts/bigjohn.svg") format("svg"),
    url("../fonts/bigjohn.woff") format("woff"),
    url("../fonts/bigjohn.ttf") format("truetype"),
    url("../fonts/bigjohn.otf") format("otf");
}

@font-face {
  font-family: "Didot";
  src: url("../fonts/didotFonts/didot-HTF-M96-Medium.svg") format("svg"),
    url("../fonts/didotFonts/didot-HTF-M96-Medium.woff") format("woff"),
    url("../fonts/didotFonts/didot-HTF-M96-Medium.ttf") format("truetype"),
    url("../fonts/didotFonts/didot-HTF-M96-Medium.otf") format("otf");
}

@font-face {
  font-family: "DidotItalic";
  src: url("../fonts/didotFonts/Didot-HTF-B06-Bold-Ital.svg") format("svg"),
    url("../fonts/didotFonts/Didot-HTF-B06-Bold-Ital.woff") format("woff"),
    url("../fonts/didotFonts/Didot-HTF-B06-Bold-Ital.ttf") format("truetype"),
    url("../fonts/didotFonts/Didot-HTF-B06-Bold-Ital.otf") format("otf");
}

@font-face {
  font-family: "Brandon";
  src: url("../fonts/brandonFonts/BrandonGrotesque-Medium.svg") format("svg"),
    url("../fonts/brandonFonts/BrandonGrotesque-Medium.woff") format("woff"),
    url("../fonts/brandonFonts/BrandonGrotesque-Medium.ttf") format("truetype"),
    url("../fonts/brandonFonts/BrandonGrotesque-Medium.otf") format("otf");
}

body {
  font-family: "Brandon", sans-serif;
  font-size: 20px;
  color: #231f20;
  background: #fff;
  font-weight: 400;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
img {
  border: 0;
}

input,
textarea,
select,
button {
  font-family: "ElegantLux", sans-serif;
  color: #000;
}
#listing0 .detail-section .beta-col button {
  font-size: 12px;
}
#add .secondary .qaLinkFirst .pipe {
  display: none;
}
#mobileMenu i,
#mobileCatMenu i,
#mobileCart i {
  color: #fff;
  font-size: 24px;
}
.top-menu .icon-menu {
  color: #fff;
  font-size: 24px;
}
#closeSlideMenu i {
  color: #ffd000;
  font-size: 24px;
}
::selection {
  color: #fff;
  background: #000;
}
::-moz-selection {
  color: #fff;
  background: #000;
}
blockquote {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  background: #fff;
  border-left: 6px solid #000;
  margin: 0 0 15px 0;
  padding: 40px;
}
/* QuickSearch */
table.searchlight-results {
  font-family: "ElegantLux", sans-serif;
  width: 308px;
}
div.searchlight-results-wrapper {
  border: 2px solid #e2e2e2;
  margin-left: -2px;
}

/*******************************************************************************************************/
/*          STYLES USED ON THE FRAME OF THE WEBSITE (HEADER, LEFT NAV, RIGHT NAV AND FOOTER)           */
/*******************************************************************************************************/

/*store-name:: Store Name.*/
.store-name {
  font-family: "ElegantLux", sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
  line-height: 35px;
}
/*store-slogan:: Store Slogan.*/
.store-slogan {
  font-family: "ElegantLux", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: lowercase;
}
/*frame:: Controls the left and right column background.*/
.frame {
  background: #fff;
}
/*mod_bg:: Controls the left and right column modules background.*/
.mod_bg {
  background: none;
}
/*frame-ht:: Controls the height left, right and middle columns.*/
.frame-ht {
  height: 1000px;
}
/*menu-headers:: Controls the way the menu titles look. For example: Categories, Browse By Price, Top Sellers, etc.*/
.menu-headers {
  background: none;
  border-bottom: 1px solid #d0d0d0;
  color: inherit;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 10px;
  height: 30px;
  line-height: 30px;
  display: block;
}
/*footer:: This style controls the text you type under global footer. Merchants usually use to add security logos, credit card logos, privacy notes, etc.*/
.footer {
  font-size: 10px;
  color: #000;
  font-weight: 400;
  text-transform: none;
}
/*footerLinks:: Controls the way the Footer Links display in the Global Footer.*/
.footer a,
.footer a:visited,
.footer a:hover,
.footer a:visited:hover {
  font-size: 10px;
  color: #000;
  font-weight: 400;
  text-transform: none;
  text-decoration: underline;
}
/*icon:: Controls the way the menu icons display if they are being used.*/
.icon {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}
/*top-sellers-star:: Controls the background image and style for the top ranking item star.*/
.top-sellers-star {
  background: #fff;
  border: 2px solid #323f49;
  color: #323f49;
  font-family: "ElegantLux", sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 25px;
  position: absolute;
  top: 40px;
  right: 0;
  text-align: center;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 30px;
  z-index: 5;
}
/*ranking:: Controls the way the menu icons display if they are being used.*/
.ranking {
  float: left;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  width: 12px;
  height: 20px;
  text-align: left;
}
/*menu-text:: Controls the way the menu (mailing list) text look on the frame.*/
.menu-text {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
/*price2:: Controls the way the product's price display in the top sellers and new releases sections.*/
.price2 {
  font-size: 35px;
  color: #999;
  font-weight: 400;
}
/*cart-text:: Controls the way the text on the mini shopping cart displays. The mini-shopping cart is usually located in the header.*/
.cart-text {
  font-size: 48px;
  font-weight: 400;
  color: #fff;
}
/*search-text:: Controls the way the search box displays of the frame.*/
.search-text {
  font-size: 20px;
  font-weight: normal;
  color: #3d3d3d;
  line-height: 57px;
  height: 57px;
  width: 443px;
  background: #fff;
  border: none;
  padding: 0 0 0 25px;
  margin: 0 11px 0 0;
}
/*A.cat:: Controls the way the Category Links display in the left or right navigation bars before a user clicks or mouses over them.*/
a.cat {
  color: #231f20;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/*A.cat:hover:: When a user passes  their mouse over them.*/
a.cat:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A.cat:visited:: After a user has visited that section.*/
a.cat:visited {
  color: #231f20;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/*A.cat:visited:hover:: When a user hovers over a section they have visited.*/
a.cat:visited:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A.subcat:: Controls the way the Sub-Category Links display in the left or right navigation bars before a user clicks or mouses over them.*/
a.subcat {
  color: #383733;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0 0.5em;
}
/*A.subcat:hover:: When a user passes  their mouse over them.*/
a.subcat:hover {
  background: #ffd000;
  color: #fff;
  text-decoration: none;
}
/*A.subcat:visited:: After a user has visited that section.*/
a.subcat:visited {
  color: #383733;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0 0.5em;
}
/*A.subcat:visited:hover:: When a user hovers over a section they have visited.*/
a.subcat:visited:hover {
  background: #ffd000;
  color: #fff;
  text-decoration: none;
}
/*A:menu:: Controls the way the Links display in the top navigation before a user clicks or mouses over on them.*/
a.menu {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}
/*A:menu:over:: When a user passes their mouses over them.*/
a.menu:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A:menu:over:: After a user has visited that section.*/
a.menu:visited {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}
/*A:menu:visited:over:: A user hovers over a section they have visited.*/
a.menu:visited:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A:menu-bottom:: Controls the way the Links in the footer display before a user clicks or mouses over on them.*/
a.menu-bottom {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
/*A:menu-bottom:over:: When a user passes their mouses over them.*/
a.menu-bottom:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A:menu-bottom:over:: After a user has visited that section.*/
a.menu-bottom:visited {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
/*A:menu-bottom:visited:over:: When a user hovers over a section they have visited.*/
a.menu-bottom:visited:hover {
  color: #ffd000;
  text-decoration: none;
}
/*A:link:: Controls the way Secondary Links display before a user clicks or mouses over on them.*/
a.link {
  color: #15212a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  text-transform: none;
  text-decoration: none;
}
/*A:link:over:: When a user passes their mouses over them.*/
a.link:hover {
  color: #000;
  text-decoration: none;
}
/*A:link:over:: After a user has visited that section.*/
a.link:visited {
  color: #15212a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  text-transform: none;
  text-decoration: none;
}
/*A:link:visited:over:: When a user hovers over a section they have visited.*/
a.link:visited:hover {
  color: #000;
  text-decoration: none;
}
/*A.details:: Controls the way the Top Sellers Links display before a user clicks or mouses over them.*/
a.details {
  color: #383733;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}
/*A.details:hover:: When a user passes their mouse over them.*/
a.details:hover {
  color: #000;
  text-decoration: none;
}
/*A.details:visited:: After a user has visited that section.*/
a.details:visited {
  color: #383733;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
}
/*A.details:visited:hover:: When a user hovers over a section they have visited.*/
a.details:visited:hover {
  color: #000;
  text-decoration: none;
}

/*******************************************************/
/*          STYLES USED THROUGHTOUT THE WEBSITE        */
/*******************************************************/

/*Alignment fix for the use of the XHTML Transitional DOCTYPE.*/
tr {
  text-align: left;
}
/*td:: Controls all text inside a table without and associated style.*/
td {
  text-decoration: none;
  word-spacing: normal;
  font-size: 20px;
}
/*data:: Controls the font style of your content on all the pages.*/
.data {
  text-decoration: none;
  word-spacing: normal;
  font-size: 20px;
}
/*alternative:: Controls the background color of the boxes used throughout the site.*/
.alternative {
  background: #fff;
  text-align: center;
}
/*page_headers:: Controls the title of all your pages.*/
.page_headers {
  font-size: 28px;
  font-weight: 800;
  color: #000;
}
/*titles:: Controls the Tiles  of sections within pages on the site such as (Specials, Feature Items, Items, Related Items).*/
.titles {
  font-size: 18px;
  color: #383733;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 10px;
  padding-left: 9px;
  border-bottom: 1px solid #383733;
  display: block;
}
/*price:: Controls the way the product's final price display throughout the site.*/
.price {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  letter-spacing: 0;
}
/*error:: Controls the error messages*/
.error {
  font-size: 20px;
  font-weight: 400;
  color: #e10e04;
  text-decoration: none;
}
/*borders:: Controls the color of the line dividers used throughout the site.*/
.borders {
  color: #585c5f;
  border: 1px solid #ccc;
  border-style: none none solid;
}
/*borders2:: Controls the color of the solid line dividers used throughout the site.*/
.borders2 {
  border: 1px solid #ccc;
  border-style: none none solid;
}
/*A:: Controls the way the all Links without an associated style display before a user clicks or mouses over them.*/
a {
  color: #000;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
}
/*A:hover:: When a user passes  their mouse over them.*/
a:hover {
  color: #929497;
  text-decoration: underline;
}
/*A:visited:: After a user has visited that section.*/
a:visited {
  color: #000;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
}
/*A:visited:hover:: When a user hovers over a section they have visited.*/
a:visited:hover {
  color: #929497;
  text-decoration: underline;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON VIEW CART AND CHECKOUT PAGES      */
/*******************************************************************************************************/

/*checkout-headers:: Controls the titles of the sections on the checkout pages (Billing Information, Shipping Information etc)*/
.checkout-headers {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
/*steps:: Controls the way the steps on the checkout pages display.*/
.steps {
  font-size: 16px;
  font-weight: 700;
  color: #ccc;
}
/*steps_on:: Controls the way the step the customer is currently on displays on the checkout pages.*/
.steps_on {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
/*titles2:: Controls the titles on the view cart page*/
.titles2 {
  font-size: 20px;
  font-weight: 700;
  background-color: #eee;
  color: #000;
  padding: 4px;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON PRODUCT PAGES      */
/*******************************************************************************************************/

/*options-titles:: Controls the way the option titles display on the product page.*/
.options-titles {
  font-size: 20px;
  font-weight: 700;
  color: #585c5f;
  border: 1px solid #ccc;
  border-style: none none solid;
}
/*item:: Controls the item description and item details text.*/
.item {
  font-size: 20px;
  color: #383733;
  font-weight: 400;
}
/*itemTitle:: Controls the name of the Product.*/
.item-title {
  font-size: 22px;
  color: #000;
  font-weight: bold;
}
/*price-info:: Controls the way the sub-prices display on the product page, the final price is controlled by the style called "price".*/
.price-info {
  font-size: 20px;
  font-weight: 400;
  color: #585c5f;
}
/*small-txt:: Controls the way the item id displays.*/
.small-txt {
  color: #afafae;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0;
  font-size: 10px;
  vertical-align: bottom;
}
/*availability-txt:: Controls the way the Availability of the product displays i.e. 'In Stock', 'Back Order'.*/
.availability-txt {
  color: #000;
}
/*reward-title:: Controls the title of the Reward Points section.*/
.reward-title {
  color: #000;
  text-decoration: none;
  word-spacing: normal;
  text-align: left;
  letter-spacing: 7px;
  line-height: 10px;
  font-size: 16px;
  font-style: italic;
}
/**********************************************************/
/*      FORM FIELDS & BUTTONS THROUGHOUT THE WEBSITE      */
/**********************************************************/

/*btn:: Controls the buttons, (ONLY if it is not using and image).*/
.btn {
  border: none;
  background: #000;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 10px 15px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/*btn_over:: Controls the buttons when a user mouses over them, (ONLY if it is not using and image).*/
.btn_over {
  border: none;
  background: #ffd000;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 10px 15px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/*button:hover:: Controls the button tag when a user mouses over them, (ONLY if it is not using and image).*/
button:hover {
  border: none;
  background: #ffd000;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 10px 15px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/*txtBoxStyle:: Controls the text and style of the Text Boxes.*/
.txtBoxStyle {
  border: 1px solid #b7b4ac;
  background: #fefefe;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.crmField label {
  line-height: 38px;
  font-size: 16px;
}
/*txtAreaStyle:: Controls the text and style of the Text Areas.*/
.txtAreaStyle {
  border: 1px solid #b7b4ac;
  background: #fefefe;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 8px 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
/*txtSearch:: Controls the style of the Search Box, if different from txtBoxStyle.*/
.txtBoxSearch {
  height: 20px;
  color: #000;
  font-size: 20px;
  border: none;
  padding: 3px 0 0 0;
  margin: 0;
}

/********************************************/
/*   STYLES USED ONLY ON THE INVOICE        */
/********************************************/

/*invoice_table:: Controls the background color on your invoices*/
.invoice_table {
  background-color: #f9f8f8;
}
/*invoice_title:: Controls the way the title of the invoices look */
.invoice_title {
  font-size: 10px;
  font-weight: 700;
  background-color: #cbcaca;
  color: #4f4e4e;
}
/*************************************************************/
/*          LEGACY STYLES: STYLES USED PRIOR TO v3.2         */
/*************************************************************/

/*font1:: Primary Screen Font */
.font1 {
  font-size: 20px;
  font-weight: 400;
  color: #383733;
}
/*font2:: Secondary Screen Font */
.font2 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.font3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.font4 {
  font-size: 20px;
  font-weight: 400;
  color: #c32519;
}
/*top:: Controls the  Color of the top Bar*/
.top {
  background: none;
}
/*line:: Controls the  Color of the line bellow the top bar*/
.line {
  background: #fff;
}

/*********************************/
/*          CUSTOM STYLES        */
/*********************************/

/* Accent/Secondary Colors */

.accent-color {
  color: #ffd000;
}
.accent-bg-color {
  background: #e2e2e2;
  color: #000;
}

#mainContainer {
  display: block;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
#mobileMenu {
  cursor: pointer;
  display: block;
  float: right;
  width: 30px;
  height: 25px;
  margin: 8px 0 0 0;
}
#mobileCatMenu {
  cursor: pointer;
  display: none;
  float: left;
  width: 30px;
  height: 25px;
  margin: 5px 0 0 0;
}
#mobileCart {
  cursor: pointer;
  float: right;
  width: 30px;
  height: 25px;
  margin: 5px 10px 0 0;
}
#closeSlideMenu {
  cursor: pointer;
  text-align: right;
}
.top-menu {
  background: #000;
  height: 50px;
  padding: 10px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.top-menu ul {
  float: right;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-menu li {
  display: inline-block;
  padding: 0 10px;
  text-align: right;
  border-right: 1px solid #fff;
  height: 30px;
  line-height: 25px;
}
.top-menu li a {
  text-transform: uppercase;
  font-size: 15px;
}
li.m-search {
  border-bottom: 1px solid #000;
  padding: 1em 2%;
}
.m-search form {
  margin: 0 auto;
  text-align: center;
}
.m-search input {
  float: left;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.m-search input[type="text"] {
  line-height: 30px;
  height: 30px;
  width: 85%;
  background: #fff;
  border: 1px solid #fff;
  padding: 0 0 0 15px;
  margin: 0 0;
}
.m-search button {
  cursor: pointer;
  height: 30px;
  background: #ffd000;
  border: none;
  margin: 0;
  padding: 0;
  width: 15%;
}
#searchBox {
  float: right;
  margin: 0;
  position: relative;
  width: 312px;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#searchBox form {
  position: relative;
}
#searchBox input {
  float: left;
}
#searchBox input[type="text"] {
  width: 272px;
  height: 30px;
  color: #000;
  background: transparent;
  font-style: italic;
  line-height: 26px;
  padding: 0 0 0 10px;
  border: none;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
#searchBox input[type="submit"] {
  background: transparent url(../images/lens.png) no-repeat center center;
  border: none;
  cursor: pointer;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 38px;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}
header {
  position: relative;
  height: 100%;
}
header .wrapper {
  height: 100%;
  padding: 0 10px;
}
#logo {
  margin-top: 2%;
  float: left;
  width: 35%;
}
#logo img {
  max-width: 100%;
  max-height: 94px;
}
#FRAME_MENU {
  float: right;
  max-width: 100%;
  max-height: 30px;
}
#cart {
  background: transparent url(../images/cart.png) no-repeat left center;
  background-position-x: 10px;
  border: none;
  color: #fff;
  font-family: "ElegantLux", sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: right;
  width: 85px;
  height: 30px;
  line-height: 16px;
  padding: 6px 15px 0 0;
  float: right;
}
#cart span#noItemsText {
  color: transparent;
  display: block;
  font-family: "ElegantLux", sans-serif;
  font-size: 10px;
}
li.search {
  display: none;
}
nav#catNavMenu {
  min-height: 30px;
  line-height: 30px;
  margin: 45px 0 0 0;
  width: 65%;
  float: right;
}
aside {
  float: left;
  width: 200px;
  display: block;
}
aside#leftBar {
  margin-right: 25px;
}
aside#rightBar {
  margin-left: 25px;
}
aside .module {
  margin-bottom: 25px;
  position: relative;
}
aside .module ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
aside .module li a {
  line-height: 23px;
}
aside .module .info {
  width: 100%;
}
aside .module .name {
  float: left;
  width: 70%;
}
aside .module .price2 {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
}
aside .module .stars {
  float: left;
  width: 100%;
}
aside .module .div {
  display: block;
  height: 1px;
  background: #d0d0d0;
  margin: 10px 0;
}
.manf-select {
  background: #fff url(../images/dark-arrow.png) no-repeat right center;
  border: 2px solid #e2e2e2;
  width: 200px;
  overflow: hidden;
  height: 29px;
}
.manf-select select {
  background: transparent;
  border: none;
  line-height: 29px;
  height: 29px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 310px;
}
.topsellers_topitem .img {
  display: table-cell;
  width: 200px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.topsellers_topitem .img img {
  max-height: 150px;
  max-width: 150px;
}
.topsellers_topitem .info {
  background: #fff;
  padding: 0.5em 0;
}
.topsellers_topitem .name {
  float: left;
  width: 70%;
  margin-bottom: 10px;
}
.topsellers_topitem .price2 {
  float: right;
  width: 30%;
  text-align: right;
  margin-bottom: 10px;
}
#mainContent {
  float: left;
  width: 100%;
  min-height: 450px;
}
footer {
  margin-top: 50px;
  padding: 0 10px;
  background: #000;
  color: #fff;
}
footer .wrapper {
  min-height: 225px;
}
footer h3 {
  color: #fff;
  font-family: "ElegantLux", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  margin: 35px 0 10px 0;
  padding: 0;
}
footer ul li a {
  color: #fff;
}
footer a,
footer a:visited {
  color: #fff;
}
footer a:hover,
footer a:visited:hover {
  color: #ffd000;
}
footer .ftr-col {
  float: left;
  margin: 0 10px 0 0;
}
footer .col1 {
  width: 40%;
}
footer .col2 {
  width: 55%;
  padding: 0 0 0 50px;
  float: right;
  border-left: 1px solid #fff;
  height: auto;
  margin: 30px 0 0 0;
}
footer .col3 {
  width: 0;
  margin: 0;
}
#lowerBar {
  width: 100%;
  background: #ffd000;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 14px;
}
#modManufacturer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#modManufacturer ul {
  list-style: none;
  display: block;
  width: 350px;
  margin: 0 0 10px;
  height: auto;
  padding: 0;
  overflow: hidden;
}
#modManufacturer li {
  float: left;
  width: 50%;
}
#modLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#modLinks ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  min-height: 150px;
  padding: 0;
}
#modLinks li {
  float: left;
  width: 50%;
  margin: 0 0 10px 0;
}
#mailistBox label {
  color: #fff;
  font-family: "BigJohn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  margin: 25px 0 20px 0;
}
#mailistBox input,
#mailistBox span {
  float: left;
  display: block;
}
#mailistBox span {
  margin-right: 30px;
  line-height: 15px;
  font-size: 15px;
}
.mailist-box {
  margin-bottom: 13px;
}
#mailistBox input[type="text"] {
  background: #fff url(../images/mail.jpg) no-repeat center right;
  background-position-x: 95%;
  color: #666;
  border: none;
  height: 32px;
  margin: 0;
  padding: 0 0 0 15px;
  width: 75%;
  -webkit-appearance: none;
  -moz-border-radius: 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
}
#mailistBox input[type="submit"] {
  background: #ffd000;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  float: right;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#mailistBox input[type="submit"]:hover {
  background: #333;
}
#mailistBox input[type="radio"] {
  margin: 2px 5px 0 0;
  padding: 0;
}
.social-icons {
  float: left;
  margin: 25px 0;
}
.social-icons a {
  background: none;
  color: #000;
  font-size: 22px;
  line-height: 28px;
  text-decoration: none;
}
.social-icons a:hover {
  color: #fff;
}

.social-icons a.facebook,
.social-icons a.twitter,
.social-icons a.youtube,
.social-icons a.instagram {
  background: #ffd000;
  color: #000;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 15px 0 0;
}

#globalFooter {
  margin: 0;
}
#copyright {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.stats {
  height: 0;
  overflow: hidden;
}
#slidewrap {
  background: transparent;
  width: 100%;
}
#homeCarousel {
  margin: 0 auto 20px;
  width: 100%;
}
.header-specials {
  color: #231f20;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0 0 20px;
  padding: 20px 0;
  border-bottom: 3px solid #000;
  width: 60%;
  font-size: 35px;
}
.qaLinkFirst > span.pipe {
  display: none;
}
#viewCartQuick {
  font-size: 80%;
}
#viewCartQuick .product-item .img {
  min-height: 80px;
}
#viewCartQuick .product-item .name {
  margin: 0;
}
#viewCartQuick .product-item .name a {
  font-size: 20px;
}
#viewCartQuick .product-item .price {
  font-size: 16px;
}

#home .product-item .img {
  min-height: 320px;
}
#home .product-item .img img {
  max-width: 300px;
  border: 3px solid #ffd000;
}
.product-item:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-item .status {
  color: #666;
  text-align: center;
  font-size: 15px;
}
.product-item .name {
  text-align: center;
}
.product-item .name a {
  font-size: 25px;
}
.product-item .price {
  text-align: center;
  font-size: 35px;
}
.product-item .action {
  text-align: center;
}
.product-item .on-sale {
  height: 50px;
  width: 70px;
  top: 10px;
  right: 10px;
  opacity: 1;
  line-height: 37px;
  background: #ffd000;
  color: #000;
  font-size: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.product-item .stars {
  text-align: center;
  margin: 0 auto;
}

.product-item .stars img {
  float: none;
  text-align: center;
  margin: 0 auto;
}

.product-item .stars span {
  display: none;
  float: none;
  text-align: center;
  margin: 0 auto;
}

/*	listing_0.html Template
	--------------------------	*/
#listing0 h1 {
  font-size: 18px;
}

#listing0 .detail-section .beta-col button {
  padding: 10px;
  font-size: 14px;
}

#listing0 .extra_field h4 {
  font-size: 20px;
  line-height: 28px;
}

ul#desktopMenu {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
ul#desktopMenu li {
  display: inline-block;
  position: relative;
}
ul#desktopMenu li:hover {
  background: #fff;
}
ul#desktopMenu li a {
  display: block;
  padding: 0 0 0 25px;
  font-size: 22px;
}
ul#desktopMenu li a:hover {
  color: #ffd000;
  text-decoration: none;
}
ul#desktopMenu li ul {
  display: none;
  position: absolute;
  z-index: 10;
  border: 1px solid #eee;
  background: #ffffff;
  margin: 0;
  text-align: left;
  padding: 10px;
  width: 250px;
}
ul#desktopMenu li:hover ul {
  display: block;
}
ul#desktopMenu li ul li {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  width: 100%;
}
ul#desktopMenu li ul li a:hover {
  color: #000;
}
ul#desktopMenu li ul li a {
  color: #333;
  text-transform: none;
  font-weight: normal;
  padding: 0 10px;
  display: block;
}
ul#desktopMenu li ul li:hover {
  background: #fcfcfc;
}
.down {
  float: right;
  margin-top: -25px;
  margin-right: 7px;
  font-weight: bolder;
  color: #aaa;
}

/*	Responsive Navigation Menu
	--------------------------	*/

/*
    Mobile Menu Core Style
*/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: left;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.slicknav_menu .slicknav_icon {
  float: left;
  margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_no-text {
  margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.slicknav_nav {
  clear: both;
}
.slicknav_nav ul,
.slicknav_nav li {
  display: block;
}
.slicknav_nav .slicknav_arrow {
  font-size: 0.8em;
  margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
  cursor: pointer;
}
.slicknav_nav .slicknav_row {
  display: block;
}
.slicknav_nav a {
  display: block;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.slicknav_menu:before,
.slicknav_menu:after {
  content: " ";
  display: table;
}
.slicknav_menu:after {
  clear: both;
}
/* IE6/7 support */
.slicknav_menu {
  *zoom: 1;
}
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/
.slicknav_menu {
  font-size: 16px;
}
/* Button */
.slicknav_btn {
  margin: 8px 0 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
/* Button Text */
.slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
  float: left;
}
.slicknav_nav {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  z-index: 999;
}
.slicknav_nav,
.slicknav_nav ul {
  list-style: none;
  overflow: hidden;
}
.slicknav_nav ul {
  padding: 0;
  margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
  padding: 5px 10px;
  margin: 2px 5px;
}
.slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #fff;
}
.subMenu {
  background: #000;
}
.slicknav_nav .subMenu a.subcat,
.slicknav_nav .subMenu a.subcat:visited {
  color: #fff;
}
.slicknav_nav .slicknav_row:hover {
  background: #ffd000;
  color: #000;
}
.slicknav_nav a:hover {
  background: #ffd000;
  color: #000;
}
.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.slicknav_nav a.cat:hover,
.slicknav_nav a.cat:visited:hover {
  color: #000;
}
.slicknav_nav a.cat,
.slicknav_nav a.cat:visited {
  color: #fff;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  display: block;
  padding: 0.5em 0;
  margin: 0;
}

/*********************************/
/*       LTE8 IE FALLBACK        */
/*********************************/
.no-boxshadow .boxShadow {
  border: 1px solid #eae9e6;
}

@media only screen and (max-width: 1310px) {
  html {
    padding: 0 !important;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
  #leftBar {
    display: none !important;
  }
  #rightBar {
    display: none;
  }

  .top-menu {
    padding: 0px;
  }
  .top-menu .wrapper {
    padding: 0;
  }
  #homeCarousel {
    width: 100%;
  }

  #FRAME_MENU {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
  }

  ul#desktopMenu {
    display: none;
  }

  #home .product-item .img {
    min-height: 220px;
  }
  #home .product-item .img img {
    max-width: 220px;
    border: 3px solid #ffd000;
  }

  footer .col1 {
    width: 35%;
  }
  footer .col2 {
    width: 60%;
  }

  #modLinks li {
    width: 50%;
  }

  /* General styles for Slide Out Menus */
  .cbp-spmenu {
    background: #000;
    position: fixed;
  }
  .cbp-spmenu a,
  .cbp-spmenu a:visited {
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    text-align: left;
  }
  .cbp-spmenu a:hover,
  .cbp-spmenu a:visited:hover {
  }
  /* Orientation-dependent styles for the content of the menu */

  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }
  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #000;
    padding: 1em;
  }
  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #000;
  }
  /* Vertical menu that slides from the left or right */

  .cbp-spmenu-left {
    left: -240px;
  }
  .cbp-spmenu-right {
    right: -240px;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0;
    z-index: 1050;
    overflow: scroll;
    padding-bottom: 50px;
  }
  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0;
  }
  /* Push classes applied to the body */

  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }
  .cbp-spmenu-push-toright {
    left: 240px;
  }
  .cbp-spmenu-push-toleft {
    left: -240px;
  }
  /* Transitions */

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .top-menu ul {
    padding: 0 0 15px 0;
  }
  .top-menu li {
    padding: 0 10px;
    height: auto;
    width: 100%;
    border: none;
    text-align: left;
  }
  .top-menu li a,
  .top-menu li a:visited {
    color: #fff;
  }

  #searchBox,
  #cart {
    display: none;
  }

  #logo {
    float: none;
    margin-left: 0;
    text-align: center;
  }
  #logo img {
    max-width: 80%;
    margin-top: 15px;
  }
}

/*	Theme Responsive Styles
	-----------------------	*/
@media only screen and (max-width: 767px) {
  html {
    padding: 0 !important;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .wrapper {
    width: 100% !important;
    margin: auto;
    padding: 0 20px;
  }
  .top-menu {
    height: 50px;
    padding: 0;
  }
  .top-menu ul {
    float: none;
  }
  .top-menu li {
    display: block;
    margin: 0;
    border-right: none;
    height: auto;
  }
  header {
    height: auto;
    padding: 0.5em 0;
  }
  nav#catNavMenu {
    border: none;
    margin: 0;
  }
  ul#desktopMenu {
    display: none;
  }
  /* nav */
  .slicknav_menu {
    display: block;
  }
  #home .product-item .img {
    min-height: 250px;
  }
  #home .product-item .img img {
    max-width: 250px;
    border: 3px solid #ffd000;
  }
  .product-item .on-sale {
    right: 23px;
  }
  aside {
    display: none !important;
  }
  #mainContent {
    display: block;
    width: 100% !important;
  }
  #searchBox {
    width: 100%;
    padding: 0 2em;
  }
  #searchBox input[type="text"] {
    width: 100%;
  }
  .mobile .search {
    display: block;
    border: 1px solid #000;
    margin: 5px 0 15px 0;
  }
  .mobile .search form {
    margin: 0 auto;
    text-align: center;
  }
  .mobile .search input {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
  .mobile .search input[type="text"] {
    font-size: 16px;
    font-weight: normal;
    color: #3d3d3d;
    line-height: 30px;
    height: 30px;
    width: 80%;
    background: #fff;
    border: none;
    padding: 0 0 0 15px;
    margin: 0;
  }
  .mobile .search input[type="submit"] {
    width: 20%;
    height: 30px;
    background: #fff url(../images/lens.png) no-repeat center center;
    border: none;
    cursor: pointer;
  }
  #homeHeader {
    border: none;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  #homeHeader img {
    width: 100%;
    height: auto;
  }
  .header-specials {
    width: 100%;
    margin-bottom: 25px;
  }
  footer h3 {
    text-align: center;
  }
  footer .col1,
  footer .col2,
  footer .col3 {
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
  }
  footer .col2 {
    margin: 10px 0 0;
    padding: 20px 0;
    border-top: 1px solid #fff;
  }
  #FRAME_MENU {
    width: 100%;
  }
  #modManufacturer ul {
    text-align: center;
    width: 100%;
  }
  #modManufacturer li {
    float: none;
    width: auto;
  }
  #modManufacturer a.view-all-manf {
    display: none;
  }
  #modManufacturer select {
    border: 2px solid #e2e2e2;
    padding: 3px;
    width: 100%;
  }
  #modLinks ul {
    text-align: center;
    width: 100%;
  }
  #modLinks li {
    float: none;
    width: auto;
  }
  #mailistBox {
    position: relative;
    width: 100%;
    height: 150px;
  }
  #mailistBox label {
    text-align: center;
  }
  #mailistBox input[type="text"] {
    width: 75%;
  }
  #mailistBox input[type="submit"] {
    width: 20%;
  }
  #copyright {
    float: none;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
  }
  .social-icons {
    width: 100%;
    display: block;
    margin: 0 0 25px;
    position: relative;
    text-align: center;
  }
  .social-icons a {
    float: none;
    display: inline-block;
  }
  #globalFooter {
    float: none;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
  }
}

@media only screen and (min-width: 981px) {
  .slicknav_menu {
    display: none;
  }
  #mobileMenu {
    display: none;
  }
  #mobileCart {
    display: none;
  }
  li.m-search {
    display: none;
  }
}

/* SW Custom */

header,
footer {
  background-color: rgb(0, 72, 81);
}

#logo {
  display: none;
}

header {
  height: 138px !important;
  background-color: #ffffff !important;
  display: none;
}

.swBanner {
  height: 90px;
  width: 100%;
  background-image: url("/Assets/Images/SiegelmansTopBanner.png");
  background-repeat: repeat-x;
  background-size: cover;
  display: none;
}

.swBannerLogo {
  position: absolute;
  left: calc(50% - 168px);
  top: 0;
  width: 350px;
  z-index: 3;
}

.swMobile {
  display: none;
  background-color: rgb(255, 152, 0);
}

.top-menu.swMobile{
  margin-bottom: 50px
}

nav#catNavMenu {
  width: 100% !important;
  margin-top: 30px !important;
}

ul#desktopMenu li a {
  font-size: 22px !important;
  font-family: DidotItalic !important;
  text-transform: lowercase !important;
  color: rgb(0, 72, 81);
}

ul#desktopMenu li a:hover {
  color: #97d5cb !important;
}

a.subcat {
  font-size: 24px !important;
}

a.subcat:hover {
  background-color: transparent !important;
}

#desktopMenu {
  width: 100%;
}

ul#desktopMenu li a {
  padding: 0 !important;
}

#desktopMenu li:nth-child(1) {
  float: left;
  margin-right: 32px;
}

#desktopMenu li:nth-child(2) {
  float: left;
  margin-right: 32px;
}

#desktopMenu li:nth-child(3) {
 float: left;
  margin-right: 20px;
}

#desktopMenu li:nth-child(4) {
  float: right;
   text-align:right;
  margin-left: 20px;
}

#desktopMenu li:nth-child(5) {
  float: right;
   text-align:right;
  margin-left: 20px;
}

#desktopMenu li:nth-child(6) {
  float: right;
  text-align:right;
  margin-left: 0px;
}

.flex-direction-nav {
  display: none !important;
}

#lowerBar {
  display: none;
}

.footerImage {
  height: 190px;
  position: absolute;
}

footer {
  padding: 0 !important;
  background: #f4fafa !important;
  width: 100%;
  height: 190px;
}

#swCart {
  background-image: url("/Assets/Images/cart.png");
  background-repeat: no-repeat;
  width: 35px;
  display: block;
  background-size: contain;
  position: absolute;
  right: -80px;
  top: 28px;
}

#swItems {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: rgb(255, 152, 0);
  border-radius: 100%;
  position: relative;
  top: 7px;
  right: 7px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: rgb(0, 72, 81);
  box-sizing: border-box;
}

.footerNavWrapper {
  position: relative;
  float: right;
  top: 32px;
  margin-right: 148px;
}

.footerNavSection {
  display: inline-block;
}

.sectionOne {
  margin-right: 75px;
}

.sectionTwo {
  margin-right: 45px;
}

.bottomSection {
  margin-top: 14px;
}

.instagramSection,
.instagramSection a {
  color: rgb(0, 72, 81) !important;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}

.instagramSection img {
  border: 0;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.copyrightSection {
  font-size: 12px;
  float: right;
  color: rgb(0, 72, 81);
  position: relative;
  top: 8px;
}

.fnHeader {
  color: rgb(0, 72, 81);
  font-family: DidotItalic;
  font-size: 20px;
}

.fnLink {
  display: block;
  color: rgb(0, 72, 81) !important;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
}

.btn {
  background-color: rgb(0, 72, 81);
  font-family: DidotItalic !important;
  font-size: 16px !important;
  color: #fff;
}

.btn_over,
.btn:hover {
  background-color: rgb(255, 152, 0);
  font-family: DidotItalic !important;
  font-size: 16px !important;
  color: rgb(0, 72, 81);
}

.btn i {
  color: inherit;
}

#itemsBlock .products-header {
  display: none;
}

.product-item .name a {
  font-size: 14px;
  color: rgb(0, 72, 81);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 1.5;
  display: block;
  font-weight: 300;
}

.product-container .product-item .img img {
  max-width: 300px;
  width: 300px;
  max-height: 300px;
}

.product-item .price {
  display: none;
}

.product-item .status {
  color: rgb(0, 72, 81);
  text-align: center;
  font-size: 14px;
}

@media only screen and (max-width: 1298px) {
  .footerImage {
    display: none;
  }

  .footerNavWrapper {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    float: none;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 640px) {
  footer {
    height: 100%;
    padding-bottom: 60px !important;
  }

  .footerNavWrapper {
    margin-left: 38px;
    left: 0;
    transform: translateX(0);
  }

  .footerNavSection {
    display: block;
  }

  .sectionOne {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .sectionTwo {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .copyrightSection,
  .instagramSection {
    display: block;
    float: none;
  }
}

.breadcrumbs a {
  font-size: 14px;
}

.breadcrumbs {
  font-size: 14px;
  display: none;
}

.page_headers {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  color: rgb(255, 152, 0) !important;
  margin-bottom: 96px;
}

#listing0 h1.page_headers {
  font-size: 28px;
  font-weight: 300;
  color: rgb(255, 152, 0) !important;
  letter-spacing: 0.05em;
}

.secondary .pricingBlock .yourprice,
#divOptionsBlock .opt-regular .label {
  font-size: 16px;
  color: rgb(0, 72, 81);
}

.product_availability {
  font-size: 16px;
}

#listing0 h3 {
  font-size: 20px;
  font-weight: 100;
}

#divOptionsBlock .opt-field label,
.addToCartBlock label {
  font-size: 18px;
  font-weight: 100;
}

#listing0 .product-id {
  display: none;
}

.r-tabs .r-tabs-nav .r-tabs-tab a {
  font-size: 16px;
  font-weight: 300;
}

.breadcrumbsBlock {
  display: none;
}

#listing0 .relatedBlock h3 {
  line-height: 25px;
  font-size: 26px;
}
.relatedBlock h3 {
  color: rgb(255, 152, 0) !important;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 25px;
  margin: 0px 0 0 0px;
  padding: 20px 0;
  font-size: 26px;
  float: none !important;
}

.relatedBlock .header {
  border-bottom: 1px solid rgb(255, 152, 0) !important;
  margin: 0 0 10px;
  border-top: 1px solid rgb(255, 152, 0) !important;
}

.listingOption:first-of-type, .listingTitle:first-of-type{
  display: none;
}

.txtAreaStyle{
  width: 100%;
}

ul li{
  text-align: left !important;
}

.opt-field label{
  display: none !important;
}

#divOptionsBlock .textlimit-textarea{
  margin: 0;
  float: right;
}

@media only screen and (max-width: 1310px) {
  ul#desktopMenu {
    display: none;
  }
}

@media only screen and (max-width: 1310px) {
  .show-mobile,
  .slicknav_menu,
  #mobileCart,
  #mobileMenu,
  .swMobile {
    display: block;
  }
}

@media only screen and (min-width: 1310px) {
  header,
  .swBanner {
    display: block;
  }
}
